

.self {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 15px;
}

.id {
    display: inline-block;
    margin-left: 5px;
}

.name {
    margin: auto auto auto 10%;
    overflow: hidden;
}

.delete {
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 20px;
}