

.self {
    width: 70%;
    min-width: 500px;
    margin: 100px auto;
}

.label {
    margin-left: 20px;
}

.container {
    background-color: lightblue;
    border-radius: 12px;
}

.self h3 {
    display: block;
    margin: 10px auto 10px 40px;
}